.wrapper_message {
  display: flex;
  flex-direction: column;
  background-color: var(--smoky-white);
  justify-content: center;
  width: 400px;
  border: 1px solid var(--smoky-white);
  padding: 10px 10px 10px 20px;
  border-radius: 12px;
  margin-bottom: 10px;

  .message_text{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
  }

  .message_time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 13px;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    margin-left: auto;
  }

}

.is_owned {
  background-color: #e4edfd;
  margin-left: auto;
}

